ml_classifier.egg-info
data/raw/raw.csv
data/preprocessed/test_preprocessed.csv
data/preprocessed/train_preprocessed.csv
data/processed/test_processed.csv
data/processed/train_processed.csv
artifacts/\[features\]_mean_imputer.joblib
artifacts/\[features\]_scaler.joblib
artifacts/\[target\]_one_hot_encoder.joblib
metrics/training.json
metrics/evaluation.json
models/model.keras
.dvc